/*------
Title: Boris Smus
Author: boris@smus.com
Note: please ask me before using this stylesheet
*/

$mainWidth: 630px;
$sidebarWidth: 300px;
$sidebarPadding: 30px;
$bodyColor: #444;
$green: #060;
$glow: #4CC417;

@mixin clearfix {
  overflow: hidden;
  clear: both;
}

@mixin sans {
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}

@mixin serif {
  font-family: 'PT Serif', Palatino, 'Palatino Linotype', serif;
}

@mixin fixed {
  font-family: Consolas, Menlo, 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-size: 14px;
}

@mixin animate {
  -webkit-transition: all 0.2s linear;
}

body {
  @include serif;
  color: $bodyColor;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 23px;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  @include sans;
}

h1 { font-size: 30px; margin-bottom: 20px; }
h2 { font-size: 25px; font-weight: 300; margin: 20px 0; }
h3 { font-size: 20px; font-weight: 300; margin: 20px 0; }

/* Hidden home icon */
h1 {
  position: relative;
  a, a:hover {
    display: none;
    border: 0;
    position: absolute;
    top: -5px;
    left: -30px;
    padding: 5px;
    img {
      width: 24px;
      height: 24px;
    }
  }
}
h1:hover a { display: block; }

p { margin: 15px 0; }

a, a:visited { 
  text-decoration: none; 
  border-bottom: 1px dotted #999;
  color: $bodyColor;
  @include animate;
}
a:hover {
  color: $green;
  border-bottom: 1px solid #666;
}

pre { 
  @include fixed;
  background: #eee; 
  padding: 5px 20px;
  margin: 10px 0 10px -20px;
}

code { @include fixed; }

img,video,object { max-width: 100%; }

// Global layout of the page
#colorstrip {
  width: 100%;
  height: 8px;
  background: #4CC417;
}
#container {
  margin: 0 auto;
}

section#main {
  margin-right: $sidebarWidth + $sidebarPadding;

  article {
    float: right;
    width: $mainWidth;
    padding: 5px 30px 0 20px;
  }
}

aside {
  border-left: 1px dashed #aaa;
  float: right;
  width: $sidebarWidth;
  padding: 15px;
  background: #eee;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, white),
    color-stop(0.1, #eee),
    color-stop(0.8, #eee),
    color-stop(1, white)
  );


}
aside#sidebar {
  img.self {
    float: left;
    min-height: 150px;
    min-width: 150px;
    border: 1px solid #333;
    -webkit-box-shadow: inset 0px 0px 50px $glow;
    margin-bottom: 20px;
  }

  p { @include clearfix; }
  a {
    @include animate;
    font-weight: bold;
 }
  &:hover a { color: $green; }
}

aside#sidebar-low {
  clear: right;

  ul {
    margin-left: 20px;
  }

  li {
    overflow: hidden;
    padding-left: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

aside#sidebar-small {
  display: none;
}

nav {
  .icons {
    a { text-decoration: none; border: none; }
    img {
      @include animate;
      width: 32px;
      opacity: 0.5;
    }
    img:hover { opacity: 1; box-shadow: 0 0 20px $glow; }
  }

  .message {
    @include sans;
    font-size: 14px;
    line-height: 14px;
  }

  .message > * { display: none; }
  .message .twitter { display: block; }
}

aside#sidebar nav.fix {
  border-left: 1px dashed #aaa;
  position: fixed;
  top: 0;
  right: 0;
  width: $sidebarWidth;
  padding: 15px;
  margin-top: -10px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.5, #eee),
    color-stop(1, white)
  );
}

article .date {
  color: #666;
  margin: 20px 0;
}

article.listing {
  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;

      .list-date {
        float: right;
        color: #666;
        font-size: 12px;
        font-family: "Menlo", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
          "Courier", "Courier 10 Pitch", "Courier New", "monospace";
      }
    }
  }
}

.clearfix {
  @include clearfix;
}

// Tweaks to the mobile version of the site
@media all and (max-width: 1005px) {
  aside {
    float: left;
  }

  aside#sidebar {
    display: none;
  }
  aside#sidebar-small {
    display: block;
  }
  aside#sidebar-low {
    margin-top: 0;
  }
  section#main {
    article {
      float: left;
    }
    margin-right: 0;
  }
}

@media all and (max-width: 630px) {
  article {
    width: 350px;
  }
}

/* Hide ugly disquss elements */
article {
  /* Bye bye trackback URL */
  .dsq-trackback-url { display: none; }
  /* Bye bye ugly disquss logo */
  .dsq-brlink { display: none; }
}
