$mainWidth: 630px;
$sidebarWidth: 300px;
$sidebarPadding: 30px;
$bodyColor: #222;

@mixin clearfix {
  overflow: hidden;
  clear: both;
}

@mixin sans {
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}

@mixin serif {
  font-family: Palatino, 'Palatino Linotype', serif;
}

@mixin fixed {
  font-family: Consolas, Menlo, 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-size: 14px;
}

body {
  @include serif;
  color: $bodyColor;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 23px;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  @include sans;
  font-weight: 300;
}

h1 { font-size: 30px; margin-bottom: 20px; }
h2 { font-size: 24px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

p { margin: 15px 0; }

a, a:visited { 
  text-decoration: none; 
  border-bottom: 1px dotted #999;
  color: $bodyColor;
}
a:hover {
  border-bottom: 1px solid #666;
}

pre { 
  @include fixed;
  background: #eee; 
  padding: 5px 20px;
  margin: 10px -20px;
}

code { @include fixed; }

img.left {
  float: left;
  margin-left: -280px;
}

// Global layout of the page
#container {
  margin: 0 auto;
}

section#main {
  margin-right: $sidebarWidth + $sidebarPadding;

  article {
    float: right;
    width: $mainWidth;
    padding: 5px 30px 0 20px;
  }
}

aside {
  float: right;
  width: $sidebarWidth;
  padding: 15px;
  background: #eee;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, white),
    color-stop(0.1, #eee),
    color-stop(0.8, #eee),
    color-stop(1, white)
  );


}
aside#sidebar {
  img.self {
    float: left;
    min-height: 150px;
    min-width: 150px;
    border: 1px solid #333;
    -webkit-box-shadow: 0px 0px 50px #6391DE;
    margin-bottom: 20px;
  }

  p { @include clearfix; }
  a { font-weight: bold; }
}

aside#sidebar-low {
  clear: right;
}

aside#sidebar-small {
  display: none;
}

nav {
  .icons {
    a { text-decoration: none; border: none; }
    img { width: 32px; opacity: 0.5 }
    img:hover { opacity: 1; box-shadow: 0 0 20px #6391DE; }
  }

  .message {
    @include sans;
    font-size: 14px;
    line-height: 14px;
  }

  .message > * { display: none; }
  .message .twitter { display: block; }
}

aside#sidebar nav.fix {
  position: fixed;
  top: 0;
  right: 0;
  width: $sidebarWidth;
  padding: 15px;
  margin-top: -10px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.5, #eee),
    color-stop(1, white)
  );
}

article .date {
  color: #666;
  margin: 20px 0;
}

article.listing {
  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;

      .list-date {
        float: right;
        color: #666;
        font-size: 12px;
        font-family: "Menlo", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
          "Courier", "Courier 10 Pitch", "Courier New", "monospace";
      }
    }
  }
}

.clearfix {
  @include clearfix;
}

// Tweaks to the mobile version of the site
@media all and (max-width: 1005px) {
  aside {
    float: left;
  }

  aside#sidebar {
    display: none;
  }
  aside#sidebar-small {
    display: block;
  }
  aside#sidebar-low {
    margin-top: 0;
  }
  section#main {
    article {
      float: left;
    }
    margin-right: 0;
  }
}

@media all and (max-width: 630px) {
  article {
    width: 350px;
  }
}
