/*
 * Title: Boris Smus
 * Author: boris@smus.com
 */

$mainWidth: 600px;
$sidebarWidth: 300px;
$sidebarPadding: 60px;
$bodyColor: #444;
$green: #060;
$glow: #4CC417;

@mixin clearfix {
  overflow: hidden;
  clear: both;
}

@mixin sans {
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}

@mixin serif {
  font-family: 'PT Serif', Palatino, 'Palatino Linotype', serif;
}

@mixin fixed {
  font-family: Consolas, Menlo, 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  font-size: 14px;
}

@mixin animate {
  -webkit-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
}

@mixin box-shadow {
  -moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;
}

body {
  @include serif;
  color: $bodyColor;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 23px;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  @include sans;
  margin: 20px 0;
  font-weight: 300;
}

h1 { font-size: 36px; line-height: 40px; }
h2 { font-size: 25px; }
h3 { font-size: 20px; }

p { margin: 15px 0; }

blockquote {
  padding-left: 10px;
  border-left: 3px solid #ccc;
  font-style: italic;
}

a, a:visited {
  text-decoration: none;
  border-bottom: 1px dotted #999;
  color: $bodyColor;
  @include animate;
}
a:hover {
  color: $green;
  border-bottom: 1px solid #666;
}

em { font-style: italic; }

pre {
  @include fixed;
  background: #eee;
  padding: 5px 20px;
  margin: 10px 0 10px -20px;
  border: 1px solid #ddd;
}

code { @include fixed; }

img,video,object { max-width: 100%; }

// Global layout of the page
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 15px;
  background: #4CC417;
  font-size: 11px;
  padding: 6px;
  text-transform: uppercase;
  background-image: -webkit-gradient( linear, left bottom, left top, from(#45B215), to(#4CC417));
  background-image: -moz-linear-gradient(#45B215, #4CC417);
  -webkit-box-shadow: inset 0 -1px 2px rgba(0,0,0,.2), 0 15px 15px rgba(255,255,255,1);
  -moz-box-shadow: inset 0 -1px 2px rgba(0,0,0,.2), 0 15px 15px rgba(255,255,255,1);

  a, a:visited, a:active {
    position: relative;
    color: #eee;
    border: 0;
    letter-spacing: 1px;
    padding: 6px 10px;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    &:hover {
      color: #fff; 
      border: 0;
      -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
      -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
      background: rgba(0,0,0,.2);
    }
  }

  span {position: absolute; top: 2px;}
  .left {left: 10px;}
  .right {
    right: 10px;
    a { margin-left: 5px; }
  }
}
#container {
  clear: both;
  margin: 0 auto;
}

section#main {
  margin-top: 30px;
  margin-right: $sidebarWidth + $sidebarPadding;

  /* terrible hack for unknown html generation */
  &> p { display: none; }
}

article {
  float: right;
  width: $mainWidth;
  padding: 5px 60px;
}


aside {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  float: right;
  width: $sidebarWidth;
  padding: 25px;
  background: #eee;
  background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, white), color-stop(0.1, #eee), color-stop(0.8, #eee), color-stop(1, white));
  background-image: -moz-linear-gradient( top, white, #eee, #eee, #eee, #eee, white);
  @include animate;
  img.self {
    margin-top: 5px;
    border: 1px solid #ddd;
    float: left;
    min-height: 150px;
    min-width: 150px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.2);
  }

  p { @include clearfix; }
  a { font-weight: bold; }
  &:hover {
    color: #777;
    a { color: $green; }
  }
}

aside#sidebar-low {
  clear: right;

  a {font-weight: normal;}
  ul { margin-left: 10px; }
  li {
    overflow: hidden;
    padding-left: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

aside#sidebar-small {
  display: none;
}

nav {
  .icons {
    a { text-decoration: none; border: none; }
    img {
      @include animate;
      width: 32px;
      height: 32px;
      opacity: 0.5;
      margin: -2px;
      padding: 2px;
    }
    img:hover {
      opacity: 1;
      border-radius: 20px;
      box-shadow: inset 0 0 20px $glow; 
    }
  }

  .message > * { display: none; }
  .message .twitter { display: block; }

  ul {
    li {
      img { width: 24px; height: 24px; }
      a { display: inline-block; margin-top: -5px; }
    }
  }
}

aside#sidebar nav.fix {
  border-left: 1px solid #ddd;
  padding-left: 1px;
  position: fixed;
  top: 5px;
  right: 0;
  width: $sidebarWidth;
  margin-right: 1px;
  padding: 25px;
  background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.5, #eee), color-stop(1, white));
  background-image: -moz-linear-gradient( top, #eee, #eee, white);
  
}

article .date {
  color: #666;
  margin: 20px 0;
}

article.listing {
  ul {
    padding: 0;
    margin: 30px 0px 40px 0px;
  }

  li {
    cursor: pointer;
    list-style: none;
    margin-bottom: 5px;

    .list-date {
      float: right;
      color: #999;
      width: 120px;
      text-align: right;
    }

    .list-snip {
			display: none !important;
      margin-top: 3px;
      display: block;
      color: #666;
      font-size: 14px;
      line-height: 16px;
      margin-right: 120px;
    }
  }

  li:hover {
    margin: -16px;
    margin-bottom: 0px;
    padding: 15px;
    background: #EEFCE8;
		border-radius: 10px;
		border: 1px solid #ddd;

    a {
      color: forestgreen;
      border-bottom: 1px solid forestgreen;
    }

    .list-snip {
			display: block !important;
		}

    .list-date {
      color: #333;
    }
  }
}

.clearfix {
  @include clearfix;
}

/* Hide ugly disquss elements */
article {
  /* Bye bye trackback URL */
  .dsq-trackback-url { display: none; }
  /* Bye bye ugly disquss logo */
  .dsq-brlink { display: none; }
  /* Bye bye footer */
  #dsq-footer { display: none; }
  /* Bye bye toolbar */
  #dsq-global-toolbar {display: none;}
}

/** MOBILE LAYOUTS */
@media all and (max-width: 1075px) {
  aside {
    float: left;
  }

  aside#sidebar {
    display: none;
  }
  aside#sidebar-small {
    display: block;
    margin-left: 10px;
  }
  aside#sidebar-low {
    margin-top: 0;
  }
  section#main {
    article {
      float: left;
    }
    margin-right: 0;
  }
}

@media all and (max-width: 720px) {
  #container { width: 90%; }
  article {padding: 0; width: 100%; }
  aside { width: 36%; margin: 0; }
}

@media all and (max-width: 480px) {
  aside, aside#sidebar-small { width: 90%; margin: 0; }
	.list-date { display: none; }
}
