/* Project specific markup */
section#main article {
  padding-right: 5px;
}

.project {
  margin-right: 10px;
  margin-bottom: 10px;

  cursor: pointer;
  width: 295px;
  height: 295px;
  float: left;
  background: #eee;
  -webkit-border-radius: 10px;
  padding: 15px;
  position: relative;

  .front {
    position: absolute;
    left: 0;
    top: 30px;
    padding: 5px;
    padding-left: 20px;
    background: #eee;
    -webkit-transition: all .2s ease-in-out;
    opacity: 0.7;
  }

  .back {
    -webkit-transition: all .2s ease-in-out;
    position: absolute;
    padding: 25px;
    -webkit-border-radius: 10px;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #eee;
    opacity: 0;

    p {
      margin-top: 0;
    }

		.title {
			font-size: 18px;
			text-decoration: underline;
		}
  }

  img {
    border: 0;
    width: 100%;
  }
}

.project:hover {
  .front {
    opacity: 0;
  }

  .back {
    opacity: 1;
  }
}

section article {
  width: 96% !important;
}
