{% extends "_post.html" %}
{% hyde
title: 'iPhone car kit: roll your own'
created: 2009-02-05 22:23:31
%}

{% block article %}
Shortly after buying my first iPhone over a year ago, I found the right,
low-budget solution to my in-car music needs. The ingredients involved
are the following commonly found household items:

- One Compact Disk
- Some Duct Tape

The idea is to take the iPhone dock and stick it onto the CD with duct
tape. Next, jam the CD into a tight slot in the dash of your car (easy
to find for a Del Sol owner). Finally, attach power cables and/or AUX
audio jacks to the dock. The result is a flexible, shock-absorbent mount
for your everyone's favorite phone. I've used this hack for well over a
year now with no problems. Here's how it looks in the interior of my
car:

httpv://www.youtube.com/watch?v=Yg3VrsDXIpI 

In a word: awesome.
{% endblock %}
