{% extends "_post.html" %}
{% hyde
title: Chrome Developer Tools at Google I/O 2011
snip: I/O 2011 featured excellent Chrome Developer Tools coverage. I also made a cheat sheet!
created: 2011-05-11 09:30:00
categories:
- web
%}

{% block article %}

Chrome's Developer Tools have been getting much deserved love at this last
Google I/O. Paul Irish and I started with an I/O bootcamp session, a hands-on lab
walk through tweaking a web application using the developer tools. We handed
out a cheatsheet to give developers an overview of available features, and also
gave away free HTML5 cake (as promised) after the session ended!

[![cheatsheet image][]][cheatsheet pdf]

The developer tools were also featured at the [start of the Chrome keynote][]
with a webkit-speech demo. Finally, Pavel Feldman (lead engineer for the dev tools)
and Paul gave an awesome I/O session about the developer tools.

One of the most promising aspects of the Chrome Developer Tools is that they
are easy to extend with (experimental) [chrome extension APIs][]. I'm stoked to
see what people invent to make these tools even better!

[start of the Chrome keynote]: http://www.youtube.com/watch?v=MiYND_zvIc0&t=8m30s
[cheatsheet image]: https://github.com/borismus/DevTools-Lab/raw/master/cheatsheet/sheet.jpg
[cheatsheet pdf]: https://github.com/borismus/DevTools-Lab/raw/master/cheatsheet/sheet.pdf
[chrome extension APIs]: http://code.google.com/chrome/extensions/trunk/experimental.devtools.html

{% endblock %}
