{% extends "_post.html" %}
{% hyde
title: MagicTouch.js a Multi-Touch Web Simulator
created: 2011-04-08 18:07:55
%}

{% block article %}
If your touch-enabled application involves custom interactions, you’ll
want to carefully test your application on your mobile device to ensure
correct behavior. This can lengthen your development time, since every
change you make needs to be pushed out to a server and then loaded on
the device. Then, once running, there’s little you can do to debug your
application, since tablets and smart phones lack web developer tooling.
A solution to this problem is to simulate touch events on your
development machine. This works if you have a device with touch input,
such as a modern Apple MacBook, or an external touch input such as a
wacom tablet. The solution is based on efforts of the TUIO community. To
enable your multi-touch web application to work in Chrome on your
MacBook MagicPad, do the following: TODO: finish post...
{% endblock %}
