{% block all %}

<!DOCTYPE html>

<html lang="en" class="no-js">

  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>
      {% block title %}
      {% if page.title %}{{ page.title }} | {% endif %} {{ site.name }}
      {% endblock %}
    </title>

    <meta name="description" content="{{ page.snip }}">
    <meta name="keywords" content="{{ page.categories|default_if_none:""|join:","}}">
    <meta name="author" content="Boris Smus">

    <link rel="shortcut icon" href="/media/images/favicon.ico">
    <link rel="apple-touch-icon" href="/media/images/apple-touch-icon.png">

    {% block feeds %}

    <!-- Use feedburner here -->
    <link href="http://feeds.feedburner.com/smuscom" rel="alternate"
    title="{{site.name}}" type="application/atom+xml"/>

    {% endblock %}

    {% block css %}

    <link rel="stylesheet" href="{{site.url}}/media/css/boilerplate.css"
    type="text/css" media="screen" charset="utf-8">

    <link rel="stylesheet" href="{{site.url}}/media/css/base.css"
    type="text/css" media="screen" charset="utf-8">

    <link rel="stylesheet" href="{{site.url}}/media/css/syntax.css"
    type="text/css" media="screen" charset="utf-8">

    <link
    href='http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold'
    rel='stylesheet' type='text/css'>

    {% block extra_css %}
    {% endblock %}

    {% endblock %}

    {% block js %}


    {% block extra_js %}
    {% endblock %}

    {% endblock %}

  </head>

  <body>
    <header>
      <span class="left">
        <a href="/" class="name">Boris Smus</a>
      </span>
      <span class="right">
        <a href="/">Blog</a>
        <a href="/projects/">Projects</a>
        <a href="/x/">Sandbox</a>
      </span>
    </header>
    <div id="container">
      <aside id="sidebar">
      {% include "skeleton/_sidebar.html" %}
      </aside>

      <section id="main">
        {% block content %}{% endblock %}
      </section>

      <aside id="sidebar-small">
      {% include "skeleton/_sidebar.html" %}
      </aside>

      {% block after_content %}{% endblock %}

      <footer>
      </footer>

    </div>

    <script src="/media/js/jquery.js"></script>
    <script src="/media/js/jquery.timeago.js"></script>
    <script src="/media/js/highlight.pack.js"></script>
    <script src="/media/js/base.js"></script>
    <script>
      var _gaq=[["_setAccount","UA-17930798-22"],["_trackPageview"]]; // Change UA-XXXXX-X to be your site's ID 
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
        s.parentNode.insertBefore(g,s)}(document,"script"));
    </script>

    {% block scripts %}{% endblock %}

  </body>

</html>

{% endblock %}
