<img class="self" src="/media/images/self.png"/>

<p>
Hello! I'm a frontend developer and creative technologist from Vancouver,
Canada. I recently moved to San Francisco to work at Google in Chrome developer
relations.
</p>

<nav>
<p>
I like doing <a href="/projects/">projects</a> and <a href="/x/">experiments</a> 
around <a href="/tag/web/">the web</a>, <a href="/tag/music/">musical</a>, 
<a href="/tag/physical/">physical</a> and <a href="/tag/social/">social</a>
computing, and then <a href="/tag/">writing</a> about them.
Read more <a href="/about">about me</a>.
<p>

<div class="icons">
  <a href="http://twitter.com/borismus">
    <img class="twitter" src="/media/images/nav/twitter.png"/>
  </a>
  <a href="http://feeds.feedburner.com/smuscom">
    <img class="rss" src="/media/images/nav/rss.png"/>
  </a>
  <a href="http://github.com/borismus">
    <img class="code" src="/media/images/nav/code.png"/>
  </a>
  <a rel="author" href="http://profiles.google.com/boris.smus">
    <img class="plus" src="/media/images/nav/plus.png"/>
  </a>
</div>
<div class="message">
  <span class="twitter">Follow <a href="http://twitter.com/borismus">@borismus</a>.</span>
  <span class="rss">Subscribe to <a href="http://feeds.feedburner.com/smuscom">rss</a>.</span>
  <span class="code">Fork source on <a href="http://github.com/borismus">github</a>.</span>
  <span class="plus">Add me to your <a rel="author" href="http://profiles.google.com/boris.smus">circle</a>.</span>
</div>
</nav>
