<img class="self" src="/media/images/self.png"/>
<p>Hello! I'm Boris, a programmer/designer from Vancouver, Canada. I recently moved to
San Francisco to work at Google on the Chrome developer relations <a
  href="http://code.google.com/team/index.html?product=chrome">team</a>.</p>

<p>This is my personal site where I write mostly about <a href="#">web
  development</a> as well as <a href="#">musical</a>, <a href="#">physical</a>
and <a href="#">social</a> computing projects. Read more 
<a href="/about">about me</a>.</p>

<p class="fixed">
<img class="icon" src="/media/images/mail.png"/>Reach me by email: <a href="mailto:boris@smus.com">boris@smus.com</a><br/>
<img class="icon" src="/media/images/twitter.png"/>Follow me on twitter: <a href="http://twitter.com/borismus">@borismus</a><br/>
<img class="icon" src="/media/images/rss.png"/>Subscribe to new posts: <a href="/feed.xml">rss</a>
</p>
