{% extends "_page.html" %}

{% hyde
title: About
%}

{% block article %}

Before Google, I was a masters student at Carnegie Mellon University where I
did HCI research in wearable and social computing with Mark Gross, Niki Kittur,
Bob Kraut and Vassilis Kostakos. I also studied user experience research and
design and led an interdisciplinary team in a project for Portugal Telecom.

I became interested in HCI after working as an engineer at Apple for a couple
of years. Dipping into Apple's culture, I learned to appreciate the importance
of high quality user interfaces. Switching to OS X from Linux noticeably
increased the quality of my life. At Apple I wrote large chunks of iWork.com
and interned on iWeb.

I joined Apple right after graduating from the University of British Columbia
in Vancouver, Canada with a BS. I studied Mathematics and Computer Science,
focusing on algorithms and graphics.

Still not bored? Read my [resume][].

## Personal

* Long distance runner (5K in under 19m, 10K in under 39m)
* Skiing instructor (CSIA L1)
* Classical pianist and aspiring jazzist (RCM Grade 10)
* Mediocre guitarist, singer and accordionist

[resume]: /resume
{% endblock %}
