{% extends "_project.html" %}

{% block title %}Android-Powered Mindstorms{% endblock %}

{% block url %}/android-powered-mindstorms{% endblock %}

{% block description %}
A robot that’s controlled by an Android phone, which monitors a twitter
account. Any twitter user can @reply to this account with a command like “go
left”. The robot complies, takes a photo and posts it on twitter.

Covered at [makezine][0]

[0]: http://blog.makezine.com/archive/2010/07/smartphone-controlled-nxt-robot.html
{% endblock %}

{% block image %}/media/images/projects/android-mindstorms.png{% endblock %}
