{% extends "_project.html" %}

{% block title %}
Ultra-minimalist Business Cards
{% endblock %}

{% block url %}
/minimal-business-card-design/
{% endblock %}

{% block description %}
When I first got my boris@borismus.com email address, I designed a set of
moocards to be as minimal as possible.

Covered at [The Next Web][0] and [Geekosystem][1]

[0]: http://thenextweb.com/shareables/2010/08/10/clever-minimalist-business-card-design-or-too-confusing-for-a-non-geek/
[1]: http://www.geekosystem.com/minimal-business-card-borismus/

{% endblock %}

{% block image %}/media/images/projects/business-cards.png{% endblock %}
