{% extends "_project.html" %}

{% block title %}
Mindstorms Plotter
{% endblock %}

{% block url %}
http://borismus.com/nxt-plotter
{% endblock %}

{% block description %}
A NXT plotter with an unusual design. Instead of a paper feed, a caret travels
along the y-axis, and another caret travels along the first caret on the
x-axis. I borrowed wheels from the RCX set, but the rest is stock NXT. The
robot is capable of drawing squares and other simple shapes.
{% endblock %}

{% block image %}/media/images/projects/mindstorms-plotter.png{% endblock %}
