{% extends "_project.html" %}

{% block title %}
Piano Playback Bot
{% endblock %}

{% block url %}
http://borismus.com/robotic-piano-playback/
{% endblock %}

{% block description %}
This robot listens for a simple monophonic melody. After a timeout, the robot,
parked on a piano bench, will play it back on the piano. It’s built with stock
parts from an NXT set, and programmed in python.

Covered at [thenxtstep][0]

[0]: http://thenxtstep.blogspot.com/2008/11/piano-playback-robot.html
{% endblock %}

{% block image %}/media/images/projects/piano-playback-bot.png{% endblock %}
