{% extends "_project.html" %}

{% block title %}Running Gestures{% endblock %}

{% block url %}/skip-running-gesture/{% endblock %}

{% block description %}
Suppose that your shoes had wireless accelerometers built in. What sorts of
interactions would be interesting? This project examines one such possibility:
changing the currently playing musical track while running.

Presented at [UBICOMP 2010][0].
[Paper][1] and [poster][2] are available.

[0]: #
[1]: #
[2]: #
{% endblock %}

{% block image %}/media/images/projects/running-gestures.png{% endblock %}
