{% extends "_project.html" %}

{% block title %}
School Connect
{% endblock %}

{% block url %}
http://projectindroid.com/
{% endblock %}

{% block description %}
While at CMU, my team conducted a full research, design cycle and eventually
implemented School Connect. This mobile app lets parents peruse events,
curriculum and progress related to their child’s schooling. A prototype was
implemented in jQuery Mobile. I was the project and tech lead.

[Video][0] and [extended abstract][1] available.

[0]: http://www.youtube.com/watch?v=8g08xJ7_jQI
[1]: #

{% endblock %}

{% block image %}/media/images/projects/school-connect.png{% endblock %}
