{% extends "_project.html" %}

{% block title %}Smart Mat{% endblock %}

{% block url %}http://www.youtube.com/watch?v=KqXRCcHHTkE{% endblock %}

{% block description %}
Smart Mat is a concept device to replace instructions for building flat-pack
furniture. It's a rollable tangible display that would work with NFC technology
and detect the stage of building as well as the position and orientation of
each piece placed on the mat. It was conceived by my team at CMU as part of
Basic Interaction Design class.

[0]: http://www.youtube.com/watch?v=KqXRCcHHTkE
{% endblock %}

{% block image %}/media/images/projects/smart-mat.png{% endblock %}
