{% extends "_project.html" %}

{% block title %}Ubiquitous Drums{% endblock %}

{% block url %}/ubiquitous-drums/{% endblock %}

{% block description %}
Drum kits are heavy and unwieldy, making them difficult to transport to a jam
session. This project augments our natural love of rhythm into a wearable drum
system.

Presented at [CHI 2010][0].

[Paper][1], [poster][2] and [instructions][3] are available.

Covered at [Craziest Gadgets][4] and [Gizmag][5]

[0]: http://www.chi2010.org/
[1]: /media/images/blog/2010/ubiquitous-drums-paper.pdf
[2]: /media/images/blog/2010/ubiquitous-drums-poster.pdf
[3]: http://www.instructables.com/id/Drum-Wear-drums-in-your-clothing/
[4]: http://craziestgadgets.com/2009/12/14/ubiquitous-drum-pants/
[5]: http://www.gizmag.com/ubiquitous-drum-pants/13611/
{% endblock %}

{% block image %}/media/images/projects/ubiquitous-drums.png{% endblock %}
