{% extends "skeleton/_base.html" %}

{% block content %}

{% filter typogrify %}

{% markdown %}

<article>

{% article %}
<h1>
  {{ page.title }}
  <a href="/"><img src="/media/images/nav/home.png"/></a>
</h1>

<div class="date">
  Posted <span class="relative" title="{{ page.created.date }}"></span> on
  <span class="absolute">{{ page.created.date }}</span>
</div>

{% block article %}
{% endblock %}
{% endarticle %}

{% include "skeleton/_disqus.html" %}
</article>
  
{% endmarkdown %}

{% endfilter %}

{% endblock %}

{% block after_content %}
<aside id="sidebar-low">
{% include "skeleton/_sidebar_low.html" %}
</aside>
{% endblock %}
