{% extends "skeleton/_base.html" %}

{% block content %}

{% filter typogrify %}


<article>

{% article %}
<h1>
  {{ page.title }}
</h1>

<div class="date">
  Posted <span class="relative" title="{{ page.created.date }}"></span> on
  <span class="absolute">{{ page.created.date }}</span>
  <g:plusone size="small"></g:plusone>
</div>

{% markdown2 %}
{% block article %}
{% endblock %}
{% endmarkdown2 %}

{% endarticle %}

{% include "skeleton/_disqus.html" %}
</article>

{% endfilter %}

{% endblock %}

{% block after_content %}
<aside id="sidebar-low">
{% include "skeleton/_sidebar_low.html" %}
</aside>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
{% endblock %}
